<tr>

  <td><%= player.full_name %></td>
  <td><%= player.rank %></td>
  <td><%= player.chapter_affiliation %></td>
  <td><%= player.tournament_registrations.findby %></td>
  <td><%= link_to edit %></td>

</tr>
