
<tr onclick="window.location='<%= tournament_path(tournament.id) %>';">
  <td><%= tournament.name %></td>
  <td><%= tournament.location %></td>
  <td><%= tournament.begin_date %></td>
  <td><%= tournament.end_date %></td>
</tr>
