<div class="container">

  <h1>Tournaments</h1>
    <div class="card">
      <%= form_for @import, url: import_tournaments_path, multipart: true do |f|  %>
        <% if @import.errors.any? %>
        <div class="alert alert-error">
          <% @import.errors.full_messages.each do |msg| %>
            <div class="">
              <%= msg %>
            </div>
            <% end %>
        </div>
        <% end %>
        <%= f.file_field :file %>
        <%= f.submit "Upload Tournament from CSV", class: "btn btn lrg col s12" %>
      <% end %>
    </div>
  <table class="highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Begin Date</th>
        <th>End Date</th>
      </tr>
    </thead>

    <tbody>
      <%= render @tournaments %>
    </tbody>
  </table>
</div>
