<tr>
  <td><%= index + 1 %></td>
  <td><%= player.full_name %></td>
  <td><%= player.rank %></td>
  <td><%= player.rating.to_s %></td>
  <td><%= player.club %></td>
  <td><%= player.tournament_points %></td>




</tr>
