<tr id="game-id-<%= game.id %>">

  <td><%= game.table_number %></td>
  <td><%= game.white_player.full_name %>, <%=  game.white_player.rank %></td>
  <td><%= game.black_player.full_name %>, <%= game.black_player.rank %></td>
  <td><%= game.handicap %></td>
  <td><%= render partial: "result", locals: { game: game } %></td>


</tr>
