<tr>

  <td><%= player.full_name %></td>
  <td><%= player.rank %></td>
  <td><%= player.chapter_affiliation %></td>
  <td><%= player.chapter_affiliation %></td>
  <td><%= link_to edit_tournament_registration %></td>



</tr>
